<div class="card">
  <div class="card-body">
    <p style="text-align: center; margin-top: 10px;">Footer</p>
    <ul>
      <li style="display: inline;">
        <a href="">Become a Seller</a>
        <a href="">Policies</a>
        <a href="">Terms & Conditions</a>
        <a href="">Help Center</a>
        <a href="">Help</a>
        <a href="">Facebook</a>
        <a href="">Twitter</a>
        <a href="">Instagram</a>
        <a href="">Youtube</a>
        <a href="">Policy And Privacy's</a>
      </li>
    </ul>
  </div>
</div>
