<div class="seller-auth" *ngIf="!showLogIn">
  <div class="sign-up">
    <h1>Seller Sign-Up</h1>
    <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
      <input class="form-input" type="text" ngModel name="name" placeholder="Enter Name">
      <input class="form-input" type="password" ngModel name="password" placeholder="Enter Password">
      <input class="form-input" type="email" ngModel name="email" placeholder="Enter Email">
      <button class="form-button">SignUp</button>
      <a class="auth-toggle-link" (click)="openLogin()">Already Have Account Click To Login</a>
    </form>
  </div>
</div>


<!-- Login Area -->


<div class="login" *ngIf="showLogIn">
  <h1>Seller Login </h1>
  <p class="p-error">{{authError}}</p>
  <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
    <input class="form-input" type="email" ngModel name="email" placeholder="Enter Email">
    <input class="form-input" type="password" ngModel name="password" placeholder="Enter Password">
    <button class="form-button">Log In</button>
    <a class="auth-toggle-link" (click)="openSignUp()">Don't Have Account Click To Sign Up </a>
  </form>
</div>
